.navbar {
    margin-bottom: 0px;
}

.home-text {
  color: white;
}

.container {
  font-family: "Rubik","Arial",sans-serif;
}

/*.banner {
  background-image: url("home_pics/dark.jpg");
}*/

.banner {
  background-color: #91eae4;
}

.body {
  background: #333333;
  margin-top: 1em;
  padding-top: 0;
}

.transition {
  position: fixed;
  transition: transform 1s linear;
}

.navbar {
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.12);
}


.padding {
      padding-top: 5em;
      padding-bottom: 5em;
    }

@media only screen and (min-width: 992px) {
    .padding-bt {
      padding-bottom: 3em;
    }
}

.carousel {
  max-height: 550px;
  min-width: 100%;
}

.carousel img {
  max-height: 550px;
  min-width: 100%;
  margin-bottom: 3em;
}

.margins {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.truncates {
  display: -webkit-box;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url('ellipsis.xml#ellipsis');
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

}

.sb-background {
  background-color: #fafafa;
}

.icons {
  height: 100px;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: -5px;
}

img {
  max-width: 100%;
  height: auto;
}

.contact {
 text-align: center;
 margin: auto;
}

@media only screen and (min-width: 992px) {
  .contact {
    width: 75%;
  }
}